.btn-box {
    display: flex; 
    
    .btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 9.5rem;
        height: 3rem;
        margin: 0 1rem; 
        background: var(--main-color);
        border: var(--border);
        border-radius: .3rem;
        font-size: 1rem;
        font-weight: 500;
        color: var(--white-color);
        transition: .5s;

     /* Logique du premier bouton (par défaut) */
        &:nth-child(1) {
            &:hover {
                background: transparent;
                color: var(--main-color);
            }
        }

    /* Logique du deuxième bouton (inversé) */
        &:nth-child(2) {
            background: transparent;
            color: var(--main-color);

            &:hover {
                background: var(--main-color);
                color: var(--white-color);
            }
        }
    }
}