.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    width: 9.5rem;
    height: 3rem;
    background: var(--main-color);
    border: var(--border) ;
    border-radius: .3rem;
    font-size: 1rem;
    color: var( --white-color);
    font-weight: 500;
    margin: 0 1rem;
    transition: .5s;
}
.btn-box .btn:nth-child(2){
    background: transparent;
    color: var(--main-color);
}
.btn-box .btn:nth-child(1):hover{
    background: transparent;
    color: var(--main-color);
}
.btn-box .btn:nth-child(2):hover{
    background: var(--main-color);
    color: var(--white-color);
}
