
/* Contact Me! */
.contact-box{
    margin-top: 2rem;
    text-align: center;
}
.contact-box .field{
    width: 100%;
    background-color: transparent;
    border: var(--border);
    border-radius: .3rem;
    padding: .8rem;
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.contact-box .field::placeholder{
    color: var(--text-color);
}
.contact-box textarea{
    resize: none;
    height: 15rem;
}
.contact-box .btn{
    cursor: pointer;
}
.contact-box .btn:hover{
    background-color: transparent;
    color: var(--main-color);
}

.back-profile{
    position: absolute;
    bottom: 1.2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: var(--border);
    border-radius: .3rem;
    font-size: 1.1rem;
    color: var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.back-profile:hover{
    background: var(--main-color);
    color: var(--white-color);
}
.back-profile p{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.5);
    font-size: 1rem;
    opacity: 0;
    transition: .5s;
    color: var(--main-color);
}
.back-profile:hover p{
    opacity: 1;
    transform: translateX(-50%) scale(1);
    top: -1.8rem;
}