/* my services */
.services-box{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
.services-box .services-content{
    flex: 1 1 10rem ;
    border: var(--border);
    border-radius: .5rem;
    padding: .8rem .5rem 1.1rem;
    text-align: center;
    transition: .3s ease;
}
.services-box .services-content:hover{
    box-shadow: var(--box-shadow);
}
.services-content i{
    font-size: 2.5rem;
    color: var(--main-color);
}
.services-content h3{
    font-size: 1.1rem;
}
.services-content p {
    margin: .2rem 0 .8rem;
}
.services-content .btn {
    width: 8rem;
    height: 2.5rem;
}
.services-content .btn:hover{
    background-color: transparent;
    color: var(--main-color);
}
