/* next button */
.nextprev-btn{
    position: absolute;
    bottom: .9rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    font-size: 2rem;
    color: var(--second-text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.nextprev-btn:hover{
    color: var(--main-color);
}
.nextprev-btn.back{
    left: 1.5rem;
}
