/* portfolio */
.portfolio-box {
    margin-top: 2rem;

    .img-box {
        display: flex;
        width: 100%;
        height: 15rem;
        border-radius: .5rem;
        border: var(--border);
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
            transition: .5s ease;
        }

        &:hover img {
            transform: scale(1.1);
        }
    }

    .info-box {
        margin: 1rem 0 1.5rem;

        .info-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;

            h3 {
                font-size: 1.3rem;
            }

            a {
                display: flex;
                align-items: center;
                color: var(--main-color);

                i {
                    margin-left: .3rem;
                }
            }
        }

        p {
            text-align: justify;

            &:nth-of-type(1) {
                font-weight: 600;
            }
        }
    }

    .btn-box {
        display: flex;
        justify-content: center;

        .btn {
            margin: 0 1rem .15rem;
        }
    }
}