.profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 

    img {
        max-width: 180px;
        border-radius: 50%;
        border: 0.25rem solid var(--main-color);
        margin-bottom: .8rem;
    }

    h1 {
        font-size: 2.7rem;
        line-height: 1;
    }

    h3 {
        color: var(--main-color);
        font-size: 1.5rem;
    }

    p {
        text-align: justify;
        font-size: 1.1rem;
    }

    .social-media {
        margin: .6rem .8rem;

        a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 2.5rem;
            height: 2.5rem;
            background: transparent;
            border: var(--border);
            border-radius: 50%;
            font-size: 1.3rem;
            color: var(--main-color);
            margin: 0 .2rem;
            transition: .5s;

            &:hover {
                background-color: var(--main-color);
                color: var(--white-color);
            }
        }
    }

    .btn-box {
        margin-top: 1.2rem;
    }
}