
.profile-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-page img{
     max-width: 180px;
     border-radius: 50%;
     border: 0.25rem solid var(--main-color);
     margin-bottom: .8rem;
}
.profile-page h1 {
    font-size: 2.7rem;
    line-height: 1;
    text-align: center;
}
.profile-page h3{
    color: var(--main-color);
    font-size: 1.5rem;
}
.profile-page .social-media {
    margin: .6rem .8rem;
}
.profile-page .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: var(--border);
    border-radius: 50%;
    font-size: 1.3rem;
    color: var(--main-color);
    margin: 0 .2rem;
    transition: .5s;

}
.profile-page .social-media a:hover{
    background-color: var(--main-color);
    color: var(--white-color);
}
.profile-page p {
    text-align: justify;
    font-size: 1.1rem;
}
.profile-page .btn-box{
    margin-top: 1.2rem;
}