/* right page */
.book-page {
    &.page-right {
        position: absolute;
        right: 0;
        transform-style: preserve-3d;
        transform-origin: left;
        transition: transform 1s cubic-bezier(.645, .045, .355, 1);

        &.turn {
            transform: rotateY(-180deg);
        }
    }

    .page-front,
    .page-back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--pages-color);
        padding: 1.5rem 2rem;
        backface-visibility: hidden; 
    }

    .page-front {
        transform: rotateY(0deg) translateZ(1px);
    }

    .page-back {
        transform: rotateY(180deg) translateZ(1px);
    }
}

