/* skilss box */
.skills-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;

    .skills-content {
        flex: 1 1 20rem;

        h3 {
            font-size: 1.3rem;
            line-height: 1;
            margin-bottom: .6rem;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            gap: .8rem;

            span {
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 6rem;
                height: 5rem;
                border: var(--border);
                border-radius: .3rem;
                font-weight: 600;
                transition: .3s ease; 

                &:hover {
                    box-shadow: var(--box-shadow);
                }

                i {
                    color: var(--main-color);
                    font-size: 3rem;
                }
            }
        }
    }
}