.social-media {
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .social-media a {
    font-size: 1.5rem;
    transition: transform 0.2s;
  }

  .social-media a:hover {
    transform: scale(1.1);
  }