@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    /* border: none; */
    outline: none;
}
:root {
    --bg-color: #151f28;
    --main-color: #00abf0;
    --text-color: #333;
    --second-text-color: #555;
    --white-color:#fff;
    --cover-color:linear-gradient(45deg, #00abf0, #006e9a);
    --pages-color:linear-gradient(90deg, #fff, #ddd);
    --border: 0.125rem solid #00abf0;
    --box-shadow: 0 0 0.8rem rgba(0,0,0,0.2);
}

