@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    /* border: none; */
    outline: none;
}
:root {
    --bg-color: #151f28;
    --main-color: #00abf0;
    --text-color: #333;
    --second-text-color: #555;
    --white-color:#fff;
    --cover-color:linear-gradient(45deg, #00abf0, #006e9a);
    --pages-color:linear-gradient(90deg, #fff, #ddd);
    --border: 0.125rem solid #00abf0;
    --box-shadow: 0 0 0.8rem rgba(0,0,0,0.2);
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--cover-color);
    background-color: #029bca;
    box-shadow: var(--box-shadow);
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    transform-origin: right;
}
.cover.cover-left{
    z-index: -1;
}
.cover.cover-right{
    z-index: 100;
    transition: transform 1s cubic-bezier(.645, .045, .355, 1);

}
.cover.cover-right.turn {
    transform: rotateY(180deg);
}
.book {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 250rem;
}
.book .book-page {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--pages-color);
    box-shadow: 0 0 .6rem rgba(0,0,0,0.1);
    display: flex;
    padding: 2rem;
}
.book-page.page-left{
    box-shadow: -.6rem .6rem .6rem rgba(0,0,0,0.1);
}


